.idea
*.iml
out
build
target
.gradle
.gradletasknamecache
local.properties
*.lock
src/test/
build.gradle.kts
docker-compose.yml
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
src/main/
